
.white-background {
    background-color:white;
    
  }
  
.black-background {
    background-color:black ;
    
  }
#centerbuttons {
    display: flex; justify-content: center; 
}
h1 {
    color:purple;
    text-align: center;
}
body {
    color:blueviolet;
}
h3 {
    font-style: italic;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: center;
}

ul{
    text-align: center;
    list-style-position: inside;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
